fastapi
uvicorn
python-multipart
PyMySQL
SQLAlchemy
python-dotenv
requests
scikit-learn
pandas
pytesseract
numpy
opencv-python
pywebpush
apscheduler
firebase_admin
reportlab
joblib
python-dateutil
Pillow
fuzzywuzzy
python-Levenshtein
pdfplumber
gunicorn
werkzeug
psycopg2
